<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center" scope="col">Titulo</th>
                        <th class="text-center" scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contact of contactsList" (click)="showContactInfo(contact)">
                        <td class="text-center">{{ contact.type }}</td>
                        <td class="text-center">{{ contact.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div *ngIf="selectedContact" class="card mt-2 mb-2">
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="name" >Nombre</label>
                <input type="text" class="form-control" name="name" required minlength="3" #name="ngModel" [(ngModel)]="selectedContact.name">
                <div *ngIf="!name.valid" class="alert alert-danger mt-2">
                    Nombre minimo de 3 caracteres
                </div>
            </div>
            <div class="form-group">
                <label for="number">Numero</label>
                <input type="number" class="form-control" name="phone" required #phone="ngModel" [(ngModel)]="selectedContact.phone">
                <div *ngIf="!phone.valid" class="alert alert-danger mt-2">
                    Numero Invalido
                </div>
            </div>
            <div class="form-group">
                <label for="email">Correo</label>
                <input type="email" class="form-control" name="email" email required #email="ngModel" [(ngModel)]="selectedContact.email">
                <div *ngIf="!email.valid" class="alert alert-danger mt-2">
                    Escriba un correo valido
                </div>
            </div>
            <div class="form-group">
               <label for="type">Titulo</label>
               <select class="custom-select" name="type" [(ngModel)]="selectedContact.type">
                    <option *ngFor="let type of types" [value]="type">{{type}}</option>
               </select> 
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-info mr-2" (click)="closeInfo()" [disabled]="!name.valid || !phone.valid || !email.valid">Cerrar</button>
                <button type="button" class="btn btn-danger" (click)="deleteContact()">Borrar</button>
            </div>
        </form>
    </div>
</div>